{% macro flow_track(index, f, client, hex) %}
{% if client == f['src'][:f['src'].find(':')] %}
<div class="card to-right">
  <div class="card-body">
    <h5 class="card-title">{{ index }}. Client</h5>
    {% if hex == True %}
    <p id="data" class="card-text text-monospace d-none">
      {{ f['data'] }}
    </p>
    <p id="hex" class="card-text text-monospace">
      {{ f['hex'] }}
    </p>
    {% else %}
    <p id="data" class="card-text text-monospace">
      {{ f['data'] }}
    </p>
    <p id="hex" class="card-text text-monospace d-none">
      {{ f['hex'] }}
    </p>
    {% endif %}
  </div>
</div>
{% else %}
<div class="card to-left">
  <div class="card-body">
    <h5 class="card-title">{{ index }}. Server</h5>
    {% if hex == True %}
    <p id="data" class="card-text text-monospace d-none">
      {{ f['data'] }}
    </p>
    <p id="hex" class="card-text text-monospace">
      {{ f['hex'] }}
    </p>
    {% else %}
    <p id="data" class="card-text text-monospace">
      {{ f['data'] }}
    </p>
    <p id="hex" class="card-text text-monospace d-none">
      {{ f['hex'] }}
    </p>
    {% endif %}
  </div>
</div>
{% endif %}
{% endmacro %}

{% for f in flow %}
{{ flow_track(loop.index, f, client, hex) }}
{% endfor %}