{% macro flow_track(index, node, hex) %}
{% if node['fromSrc'] == True %}

  {% if hex == 'true' %}
    <pre class=" text-monospace d-none ns-light-text printableData"><reddump>{{ node['printableData'] }}</reddump></pre>
    <pre class=" text-monospace blob"><reddump>{{ node['blob'] }}</reddump></pre>
  {% else %}
    <pre class=" text-monospace ns-light-text printableData"><reddump>{{ node['printableData'] }}</reddump></pre>
    <pre class=" text-monospace d-none blob"><reddump>{{ node['blob'] }}</reddump></pre>
  {% endif %}
{% else %}
  {% if hex == 'true' %}
    <pre class=" text-monospace d-none ns-light-text printableData"><cyandump>{{ node['printableData'] }}</cyandump></pre>
    <pre class=" text-monospace blob"><cyandump>{{ node['blob'] }}</cyandump></pre>
  {% else %}
    <pre class=" text-monospace ns-light-text printableData"><cyandump>{{ node['printableData'] }}</cyandump></pre>
    <pre class=" text-monospace d-none blob"><cyandump>{{ node['blob'] }}</cyandump></pre>
  {% endif %}
{% endif %}
{% endmacro %}

<table class="w-100">
  <tr colspan="5">
    <td class="d-inline-block">
      <h4 class="my-auto" style="vertical-align: baseline;">{{ flow["srcIP"] }} : <reddump>{{ flow["srcPort"] }}
        </reddump> => {{ flow["dstIP"] }} : <cyandump>{{ flow["dstPort"] }}</cyandump>
      </h4>
    </td>
    <td > </td>
    <td class="text-right" style="width:62px;"><button onclick="pwn('{{ flow_id }}')" type="button"
        class="btn btn-outline-light py-1">PWN</button>
    </td>
  </tr>
  <tr>
    <td class="d-inline-block">
      <h5 class="pr-2 {% if flow['seenSYN'] %}green-text{% else %}red-text strikethrough{% endif %}">SYN</h5>
    </td>
    <td class="d-inline-block">
      <h5 class="pr-2 {% if flow['seenFIN'] %}green-text{% else %}red-text strikethrough{% endif %}">FIN</h5>
    </td>
    <td class="d-inline-block"><h5 class="pr-2">{{ flow['nodes'] | length }} NODES</h5></td>
    <td class="d-inline-block"><h5 class="pr-2"><span class="ns-data-feather" data-feather="activity"></span>{{ flow['trafficSize'] | format_bytes }}</h5></td>
    <td class="d-inline-block"><h5 class="pr-2">{{ flow['time'] | unix_to_human_time | safe }}</h5></td>
    <td> </td>
    <td> </td>
  </tr>
</table>
<hr size="2" class="mt-2 mb-3">
{% for node in flow['nodes'] %}
{{ flow_track(loop.index, node, hex) }}
{% endfor %}
<script src="{{ url_for('static', filename='vendor/feather/feather.min.js') }}"></script>
<script>
  feather.replace()
</script>