<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Timon</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
    type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

  {% macro add_flow(flow, services) %}
  <li onclick="activate(this, '{{ flow['_id'] }}')" class="list-group-item">
    <div class="container">
      <div class="row">
        <div class="col">
          <i onclick="change_star(this, '{{ flow['_id'] }}')"
            class="{% if flow['favorite'] %} fas fa-heart {% else %} far fa-heart {% endif %} align-middle"></i>
        </div>
        <div class="col-9">
          <div class="row font-weight-bold">
            {% if services[flow['endpoints'][0][1]] %}
            {{ services[flow['endpoints'][0][1]] }}
            {% elif services[flow['endpoints'][1][1]] %}
            {{ services[flow['endpoints'][1][1]] }}
            {% else %}
            unknown
            {% endif %}
          </div>
          <div class="row">
            {{ flow['_id'] }}
          </div>
          <div class="row">
            {{ flow['lastSeen'] }}
            <!-- TODO: convert in time -->
          </div>
        </div>
      </div>
    </div>
  </li>
  {% endmacro %}

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <span class="navbar-brand mr-1">Timon</span>

    <div class="checkbox ml-auto">
      <label><input id="check_hex" type="checkbox"><span class="text-light">Hexdump</span></label>
    </div>

    <!-- Navbar Search -->
    <form class="form-inline ml-auto" action="/" method="GET">
      <select name="service" class="browser-default custom-select mx-2">
        <option value="" disabled selected>Services</option>
        {% for s in services %}
        <option value="{{ s }}">{{ s }}</option>
        {% endfor %}
      </select>
      <div class="form-group">
        <input name="srcIP" class="form-control" placeholder="SrcIP" style="width: 100px">
      </div>
      <div class="form-group">
        <input name="srcPort" class="form-control" placeholder="SrcPort" style="width: 100px">
      </div>
      <div class="form-group pl-2">
        <input name="dstIP" class="form-control" placeholder="DstIP" style="width: 100px">
      </div>
      <div class="form-group">
        <input name="dstPort" class="form-control" placeholder="DstPort" style="width: 100px">
      </div>
      <div class="form-group px-2">
        <input name="nflows" type="number" class="form-control" value="20" style="width: 100px">
      </div>
      <input name="data" type="text" class="form-control" placeholder="Type here to search" aria-label="Search"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>

  </nav>

  <div id="wrapper">

    <!-- Starred flows -->
    <ul class="list-group-star">
      {% include 'starred.html' %}
    </ul>

    <ul class="list-group">
      {% for flow in flows %}
      {{ add_flow(flow, services_map) }}
      {% endfor %}
    </ul>

    <ul class="list-group2">
      <div class="card to-right">
        <div class="card-body">
          <h5 class="card-title">1. Server +45 ms</h5>
          <p class="card-text text-monospace">Some quick example text to build on the card title and make up the
            bulk of
            the card's
            content.</p>
        </div>
      </div>

      <div class="card to-left">
        <div class="card-body">
          <h5 class="card-title">2. Client +50 ms</h5>
          <p class="card-text text-monospace">Some quick example text to build on the card title and make up the
            bulk of
            the card's
            content.</p>
        </div>
      </div>

    </ul>

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © ROPperoni 2019</span>
        </div>
      </div>
    </footer>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/logic.js') }}"></script>

</body>

</html>