{% macro add_flow(flow, services) %}
<li class="nav-item" onclick="activate(this, '{{ flow['_id'] }}')">
<a class="nav-link" href="javascript:void(0);">
    <table class="text-center ns-table">
    <tr>
        <td colspan="2">
        {% if services[flow['srcPort']] %}{{ services[flow['srcPort']] }}{% elif services[flow['dstPort']] %}{{ services[flow['dstPort']] }}{% else %}unknown{% endif %}
        </td>
        <td>{% if flow['hasFlag'] == True %}<span class="green" data-feather="flag"></span>{% endif %}</td>
    </tr>
    <tr>
        <td>
        <red>SRC</red>
        </td>
        <td>{{ flow['srcIP'] }} : <red>{{ flow['srcPort'] }}</red>
        </td>
        <td>+{{ flow['time'] // 10000000 % 30000 / 100 }}s{# TIME PASSED SINCE START OF THE ROUND #}</td>
    </tr>
    <tr>
        <td>
        <cyan>DST</cyan>
        </td>
        <td>{{ flow['dstIP'] }} : <cyan>{{ flow['dstPort'] }}</cyan>
        </td>
        <td>{{ flow['trafficSize'] }}B</td>
    </tr>
    </table>
</a>
</li>
{% endmacro %}
{% for flow in flows %}
{{ add_flow(flow, services_map) }}
{% endfor %}
  <script src="{{ url_for('static', filename='vendor/feather/feather.min.js') }}"></script>
  <script>
    feather.replace()
  </script>